.hero-graphics{

position:relative;

width:600px;

height:500px;

display:flex;

justify-content:center;

align-items:center;

}

.orbit-svg{

position:absolute;

width:540px;

left:30px;

top:10px;

opacity:.7;

}

.cell-svg{

position:absolute;

width:280px;

left:110px;

top:60px;

z-index:3;

}

.laptop-svg{

position:absolute;

width:220px;

right:20px;

bottom:20px;

z-index:4;

}