@import url("navbar.css");
@import url("hero.css");
@import url("illustration.css");
@import url("about.css");
@import url("research.css");
@import url("project.css");
@import url("experience.css");

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700&display=swap');

/* Reset browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page styling */
body {
    font-family: 'Inter', sans-serif;
    background-color: #F7FAFC;
    color: #243B53;
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 80px;

    background: white;

    box-shadow: 0 2px 10px rgba(0,0,0,0.05);

    position: sticky;
    top: 0;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #0F4C5C;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav a {
    text-decoration: none;
    color: #243B53;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #2A9D8F;
}

.primary-btn{

    background:#0F766E;

    color:white;

    text-decoration:none;

    padding:15px 34px;

    border-radius:12px;

    transition:.3s;

}

.primary-btn:hover{

    transform:translateY(-3px);

}

.secondary-btn{

    border:2px solid #0F766E;

    color:#0F766E;

    text-decoration:none;

    padding:15px 34px;

    border-radius:12px;

    transition:.3s;

}

.secondary-btn:hover{

    background:#0F766E;

    color:white;

}

.particles{

position:absolute;

width:100%;

height:100%;

}

.particles span{

position:absolute;

width:8px;

height:8px;

background:#14B8A6;

border-radius:50%;

opacity:.45;

animation:floatParticle 7s infinite ease-in-out;

}

.particles span:nth-child(1){

left:15%;

top:20%;

}

.particles span:nth-child(2){

right:18%;

top:25%;

}

.particles span:nth-child(3){

left:22%;

bottom:18%;

}

.particles span:nth-child(4){

right:10%;

bottom:28%;

}

.particles span:nth-child(5){

left:45%;

top:5%;

}

.particles span:nth-child(6){

right:45%;

bottom:5%;

}

@keyframes floatParticle{

0%,100%{

transform:translateY(0px);

}

50%{

transform:translateY(-12px);

}

}

@keyframes floatCell{

0%,100%{

transform:translateY(0px);

}

50%{

transform:translateY(-18px);

}

}
@keyframes floatLaptop{

0%,100%{

transform:translateY(0px);

}

50%{

transform:translateY(-8px);

}

}